html {
    font-family: monospace;
    background: orange;
}
div.main {
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 3em;
    background: darkorange;
    color: white;
}
div.main a {
    text-decoration: none;
    color: white;
}
div.main div.comments div.back {
    font-size: 0.8em;
}
div.main div.comments ul.list li {
    margin-down: 0.5em;
    list-style-type: none;
}
